.main {
  padding: 20px;
  box-sizing: border-box;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  margin-left: auto;
}
.linksList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  gap: 20px;
}

.linksList a {
  text-decoration: none;
  color: var(--header-text-color);
  transition: 0.1s linear;
  text-underline-offset: 5px;
  font-size: 20px;
  width: 100%;
  display: block;
}

.linksList a:hover {
  color: #f6a80b;
}
.linksList a:active {
  color: #f6a80b;
}

.activePath {
  font-weight: 700;
  text-decoration: underline !important;
  text-decoration-color: #f6a80b !important;
  text-decoration-thickness: 2px !important;
}

.flagIcon {
  width: 20px;
}

.menuIcon {
  display: none;
}

.themeToggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  color: var(--header-text-color);
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  padding-left: 8px;
  font-weight: 600;
  margin-bottom: 10px;
}

.themeToggleBtn:hover {
  background-color: var(--header-hover-bg);
}
