.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--bg-color-main);
}

.main img {
  width: 200px;
  user-select: none;
  -webkit-user-drag: none;
}

.main p {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
