.main {
  width: 100%;
  border-radius: 12px;
  background-color: white;
  border: 2px solid #f6a80b;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topText {
  width: 100%;
  text-align: center;
}
.topText p {
  margin: 0;
}

.roundResult {
  color: rgb(17, 24, 39);
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px !important;
}

.actualPrice {
  color: rgb(5, 150, 105);
  font-weight: 600;
  font-size: 24px;
}

.scoreText {
  font-weight: 500;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 22px 0;
}

.scoreSpan {
  border-radius: 99999px;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.nextBtn {
  padding: 15px 20px;
  border: 0;
  background-color: #f6a80b;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s linear;
}

.nextBtn:hover {
  background-color: #db9d22;
}

.nextBtn:disabled {
  background-color: #d99611;
  cursor: wait;
}

.resultsSideContainer {
  width: 100%;
}

.resultDivs {
  padding: 8px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(249, 250, 251);
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.resultTitle {
  font-size: 18px;
  font-weight: 500;
  color: rgb(17, 24, 39);
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
  box-sizing: border-box;
}

.greenSpan {
  background-color: rgb(236, 253, 245);
  color: rgb(5, 150, 105);
}
.yellowSpan {
  background-color: rgb(255, 247, 237);
  color: rgb(251, 191, 36);
}
.redSpan {
  background-color: rgb(254, 242, 242);
  color: rgb(220, 38, 38);
}

.pointsDiv {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
}

.priceResultText {
  color: rgb(75, 85, 99);
  font-size: 17px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
}

.firstPlace {
  border: 2px solid rgb(251, 191, 36);
  background-color: rgb(255, 251, 235);
}

.secondPlace {
  border: 2px solid rgb(107, 114, 128);
  background-color: rgb(249, 250, 251);
}

.thirdPlace {
  border: 2px solid rgb(217, 119, 6);
  background-color: rgb(255, 251, 235);
}

.normalBackground {
  border: 2px solid rgb(199, 190, 180);
  background-color: rgb(225, 225, 224);
}

.scoreHolderSpan {
  width: 60px;
  display: flex;
  justify-content: flex-end;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(72, 187, 120, 0.6);
  }
  70% {
    box-shadow: 0 0 20px 20px rgba(72, 187, 120, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(72, 187, 120, 0);
  }
}

.yourResult {
  animation: pulse 1s ease-out infinite;
}

@media only screen and (max-width: 750px) {
  .main {
    padding: 20px;
  }
  .resultTitle {
  }
}
