.headerDiv {
  width: 100%;
  box-shadow: 0 0.1px 11px 2px rgba(68, 89, 88, 0.11);
}

.main {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.logoDiv {
}

.logoDiv img {
  height: 61px;
}

.buttons {
  margin-left: auto;
}
.buttons ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 20px;
}

.main a {
  text-decoration: none;
  color: #2d2d2d;
  transition: 0.1s linear;
  text-underline-offset: 5px;
}

.main a:hover {
  color: #f6a80b;
}
.main a:active {
  color: #f6a80b;
}

.activePath {
  font-weight: 700;
  text-decoration: underline !important;
  text-decoration-color: #f6a80b !important;
  text-decoration-thickness: 2px !important;
}

.flagIcon {
  width: 20px;
}

.menuIcon {
  display: none;
}

/* Medium Desktop */
@media only screen and (max-width: 775px) {
  .main a {
    font-size: 14px;
  }
}

/* Small Desktop */
@media only screen and (max-width: 726px) {
  .main a {
    font-size: 13px;
  }
  .buttons ul {
    margin: 5px 0;
    gap: 10px;
  }
  .logoDiv img {
    height: 50px;
  }
  .flagIcon {
    width: 15px;
  }
}

/* Mobile */
@media only screen and (max-width: 625px) {
  .buttons li:not(.menuIcon) {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .logoDiv img {
    height: 61px;
  }
  .main {
    padding: 10px 20px;
  }
}
