.main {
  background-color: var(--bg-color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: calc(100dvh - 108px); */
  flex-grow: 1;
  overflow: scroll;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.lobbyDiv {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 6fr;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 10px;
}

.lobbyInfoSide {
}

.playersSideContainer {
  background-color: var(--bg-color-main-item);
  border-radius: 12px;
  height: 500px;
}

.playersTop {
  border-bottom: 1px solid var(--main-page-border-color);
  color: var(--lobby-header-color);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 12px 8px;
  height: 48.5px;
}

.scoreSpan {
  border-radius: 99999px;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.playerDivs {
  padding: 8px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: calc(500px - 48.5px);
  overflow-y: auto;
}

.playerDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  background-color: var(--input-bg-color);
  transition: 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.playerDiv:hover {
  background-color: var(--input-hover-bg-color);
}

.playerTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--lobby-header-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.hostSpan {
  border-radius: 99999px;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--span-bg-host);
  color: var(--span-text-host);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobbyInfoBottom {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48.5px);
}

.copyButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  color: white;
  background-color: #f6a80b;
  border-radius: 8px;
  border: 1px solid #d99611;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.copyButton:hover {
  background-color: #d99611;
}
.copyButton:active {
  scale: 0.95;
}

.lobbyIdDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 10px;
  border-bottom: 1px solid var(--main-page-border-color);
}

.lobbyId {
  color: #f6a80b;
  font-size: 50px;
  font-weight: 900;
}

.lobbySettingsDiv {
  padding: 15px 0;
  border-bottom: 1px solid var(--main-page-border-color);
}

.inputSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.inputSection label {
  font-weight: 500;
  font-size: 17px;
  padding-right: 10px;
}

.inputSection input {
  border-radius: 8px;
  border: 1px solid var(--main-page-border-color);
  background-color: var(--input-bg-color);
  outline: 0;
  padding: 8px;
  font-size: 16px;
  color: var(--input-text-color);
}

.lobbyStartDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 5px 15px;
  box-sizing: border-box;
}

.copyButton:disabled {
  background-color: #d99611;
  cursor: not-allowed;
}

.hostButtons {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

.hostButton {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #f6a80b;
  border-radius: 8px;
  border: 1px solid #d99611;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.hostButton:hover {
  background-color: #d99611;
}

.greenSpan {
  background-color: var(--span-bg-green);
  color: var(--span-text-green);
}
.yellowSpan {
  background-color: var(--span-bg-yellow);
  color: var(--span-text-yellow);
}
.redSpan {
  background-color: var(--span-bg-red);
  color: var(--span-text-red);
}

@media only screen and (max-width: 750px) {
  .main {
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 658px) {
  .lobbyDiv {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .lobbyInfoSide {
    border: 1px solid var(--main-page-border-color);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .playersSideContainer {
    border: 0 !important;
    border-radius: 0;
  }
  .playersSide {
    border: 1px solid var(--main-page-border-color);
    border-radius: 12px;
    overflow: hidden;
  }
}
