.main {
  background-color: var(--bg-color-main);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--main-page-border-color);
  box-shadow: 0px 10px 21px 3px rgba(0, 0, 0, 0.1);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #f6a80b;
  padding: 20px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.1s linear;
  min-width: 150px;
  user-select: none;
}

.buttonInnerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.1s linear;
}

.button:hover {
  background-color: #dc970e;
}

.button:active .buttonInnerDiv {
  scale: 0.9;
}

.button:nth-child(1) {
  border-right: 0.5px solid var(--main-page-border-color);
}

.button:nth-child(2) {
  border-left: 0.5px solid var(--main-page-border-color);
}

.button svg {
  width: 150px;
  height: 150px;
}
